<% layout('layouts/boilerplate.ejs') %>
    <% block('head').append(`<title>Campground${campground?.title ? ` | ${campground.title}` : ''}</title>`) %>

        <div class="container mt-5 flex-grow-1">
            <%- include('../partials/flash') %>
                <div class="row">
                    <div class="col-12 col-lg-6 offset-lg-3">
                        <div id='map' style='width: 100%; height: 500px;'></div>
                        <% if (campground?.images?.length> 0) { %>
                            <div id="campgroundCarouselControl" class="carousel carousel-fade slide mb-2"
                                data-bs-ride="carousel">
                                <% if (campground?.images.length> 1) { %>
                                    <div class="carousel-indicators">
                                        <% campground.images.forEach((img, i)=> { %>
                                            <button type="button" data-bs-target="#campgroundCarouselControl"
                                                data-bs-slide-to="<%= i %>" class="<%= i === 0 && 'active'%>"
                                                aria-current="<%= i === 0 && 'true'%>" aria-label="Slide <%= i+1 %>"></button>
                                            <% }) %>
                                    </div>
                                    <% } %>
                                        <div class="carousel-inner">
                                            <% campground.images.forEach((img, i)=> { %>
                                                <div class="carousel-item <%= i === 0 && 'active' %>">
                                                    <img src="<%= img?.url %>" class="d-block w-100 carousel-img"
                                                        alt="<%= campground?.title %>">
                                                </div>
                                                <% }) %>
                                        </div>
                                        <% if (campground?.images.length> 1) { %>
                                            <button class="carousel-control-prev" type="button"
                                                data-bs-target="#campgroundCarouselControl" data-bs-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Previous</span>
                                            </button>
                                            <button class="carousel-control-next" type="button"
                                                data-bs-target="#campgroundCarouselControl" data-bs-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Next</span>
                                            </button>
                                            <% } %>
                            </div>
                            <% } %>
                                <div class="card mb-3">
                                    <% if (campground?.images?.length===0) { %>
                                        <img src="https://res.cloudinary.com/yelp-camp/image/upload/v1619869777/campground-placeholder.png"
                                            class="card-img-top" alt="<%= campground?.title %>">
                                        <% } %>
                                            <div class="card-body">
                                                <h5 class="card-title">
                                                    <%= campground?.title %>
                                                </h5>
                                                <p class="card-text">
                                                    <%= campground?.description %>
                                                </p>
                                            </div>
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item">Submitted by <%= campground?.author.username
                                                        %>
                                                </li>
                                                <li class="list-group-item text-muted">
                                                    <%= campground?.location %>
                                                </li>
                                                <li class="list-group-item fst-italic text-muted">$<%= campground?.price
                                                        %>/night</li>
                                            </ul>
                                            <% if (campground.author.equals(currentUser?._id)) { %>
                                                <div class="card-body d-flex">
                                                    <a href="/campgrounds/<%= campground.id %>/edit"
                                                        class="btn btn-sm btn-outline-primary me-2">Edit</a>
                                                    <form action="/campgrounds/<%= campground.id %>?_method=DELETE"
                                                        method="POST">
                                                        <button class="btn btn-sm btn-outline-danger">Delete</button>
                                                    </form>
                                                </div>
                                                <% } %>
                                </div>
                                <div class="mb-3">
                                    <form action="/campgrounds/<%= campground.id %>/comments" method="POST"
                                        class="needs-validation" novalidate>
                                        <div class="mb-3">
                                            <textarea <%=!currentUser && 'disabled'
                                                %> name="comment[body]" cols="30" rows="5" class="form-control" placeholder="<%= currentUser ? 'Add a comment...' : 'Sign in to add comments' %>" required></textarea>
                                            <div class="valid-feedback">Looks good!</div>
                                        </div>
                                        <button <%=!currentUser && 'disabled' %> class="btn btn-primary btn-sm">Add
                                            Comment</button>
                                    </form>
                                </div>
                                <div class="mb-3">
                                    <% for (let comment of campground.comments) { %>
                                        <div class="card mb-2">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <%= comment?.body %>
                                                    </div>
                                                    <div class="col-2 fst-italic text-muted text-end">
                                                        <%= comment?.author?.username %>
                                                    </div>
                                                </div>
                                                <% if (comment.author.equals(currentUser?._id)) { %>
                                                    <div class="d-flex mt-2">
                                                        <a href="/campgrounds/<%= campground.id %>/comments/<%= comment.id %>/edit"
                                                            class="btn btn-pencil bi bi-pencil"></a>
                                                        <form
                                                            action="/campgrounds/<%= campground.id %>/comments/<%= comment.id %>?_method=DELETE"
                                                            method="post">
                                                            <button class="btn btn-trash bi bi-trash"></button>
                                                        </form>
                                                    </div>
                                                    <% } %>
                                            </div>
                                        </div>
                                        <% } %>
                                </div>
                    </div>
                    <div class="col-12 col-lg-3">
                        <div class="mb-3">
                            <h2>Leave a review</h2>
                            <div class="hr my-2"></div>
                            <form action="/campgrounds/<%= campground.id %>/reviews" method="POST"
                                class="needs-validation" novalidate>
                                <div class="mb-3">
                                    <label for="rating" class="form-label">Rating</label>
                                    <input <%=!currentUser && 'disabled' %> value="5" type="range" min="1" max="5"
                                    name="review[rating]" id="rating" class="form-range" list="ticks" />
                                    <datalist id="ticks" style="display: flex; justify-content: space-between">
                                        <option style='color: #d62b00' value="1" label="1 &#9733"></option>
                                        <option style='color: #ff9008' value="2" label="2 &#9733"></option>
                                        <option style='color: #f7c348' value="3" label="3 &#9733"></option>
                                        <option style='color: #c1d600' value="4" label="4 &#9733"></option>
                                        <option style='color: #6bd600' value="5" label="5 &#9733"></option>
                                    </datalist>
                                </div>
                                <div class="mb-3">
                                    <label for="body" class="form-label">Review</label>
                                    <textarea <%=!currentUser && 'disabled' %>
                            name="review[body]"
                            id="body"
                            cols="30"
                            rows="3"
                            placeholder="<%= currentUser ? 'Write a review for this campground...' : 'Sign in to add reviews' %>"
                            class="form-control"
                            required
                        ></textarea>
                                    <div class="valid-feedback">Looks good!</div>
                                </div>
                                <button <%=!currentUser && 'disabled' %> class="btn btn-primary btn-sm">Submit
                                    Review</button>
                            </form>
                        </div>
                        <div class="mb-3">
                            <% for (let review of campground.reviews) { %>
                                <div class="card mb-2">
                                    <div class="card-body">
                                        <div class="mb-2">
                                            <%= review?.body %>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <div class="fst-italic text-muted flex-grow-1 me-2">
                                                <%= review?.author?.username %>
                                            </div>
                                            <div class='stars-wrapper'>
                                                <% for( let i=0; i < review?.rating; i++ ) { %>
                                                    <div class='star-filled'>&#9733;</div>
                                                    <% } %>
                                                        <% for( let i=0; i < 5 - review?.rating; i++ ) { %>
                                                            <div class='star-empty'>&#9734;</div>
                                                            <% } %>
                                            </div>
                                        </div>
                                        <% if (review.author.equals(currentUser?._id)) { %>
                                            <div class="d-flex mt-2">
                                                <a href="/campgrounds/<%= campground.id %>/reviews/<%= review.id %>/edit"
                                                    class="btn btn-pencil bi bi-pencil"></a>
                                                <form
                                                    action="/campgrounds/<%= campground.id %>/reviews/<%= review.id %>?_method=DELETE"
                                                    method="post">
                                                    <button class="btn btn-trash bi bi-trash"></button>
                                                </form>
                                            </div>
                                            <% } %>
                                    </div>
                                </div>
                                <% } %>
                        </div>
                    </div>
                </div>
        </div>
        <script>
            mapboxgl.accessToken = '<%- process.env.MAPBOX_TOKEN %>';
            const campground = <%- JSON.stringify(campground) %>;
            const map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/streets-v11',
                center: campground.geometry.coordinates,
                zoom: 12
            });

            new mapboxgl.Marker().setLngLat(campground.geometry.coordinates).addTo(map);
            const nav = new mapboxgl.NavigationControl();
            map.addControl(nav, 'top-left');
        </script>