<% layout('layouts/boilerplate.ejs') %>
<% block('head').append(`<title>Campground${campground?.title ? ` | ${campground.title}` : ''}</title>`) %>
    <h1>
        <%= campground?.title %>
    </h1>
    <p>Price: <%= campground?.price %>
    </p>
    <p>Location: <%= campground?.location %>
    </p>
    <p>Description: <%= campground?.description %>
    </p>
    <div><a href='/campgrounds/<%= campground.id %>/edit'>Edit</a></div>
    <form action='/campgrounds/<%= campground.id %>?_method=DELETE' method='POST'>
        <button>Delete</button>
    </form>
    <div><a href='/campgrounds'>All Campgrounds</a></div>