<% layout('layouts/boilerplate.ejs') %>
    <% block('head').append(`<title>Edit ${campground?.title ? campground.title : 'Campground'}</title>`) %>
        <div class="container-fluid flex-grow-1 edit-form-container">
            <div class="row h-100">
                <div class="d-none d-lg-flex flex-column col-lg-7 col-xl-6 px-0">
                    <img class='img-fluid flex-grow-1'
                        src='https://res.cloudinary.com/yelp-camp/image/upload/v1615653171/camp2.jpg'
                        alt='new campground form image'>
                </div>
                <div class="col-lg-5 col-xl-6 px-3 px-md-5 py-4 edit-form">
                    <div class='d-flex flex-column justify-content-center align-items-center w-100'>
                        <h1 class='text-center'>Edit <%= campground?.title ? campground.title : 'Campground' %>
                        </h1>
                        <form class='my-3 needs-validation w-inherit' action='/campgrounds/<%= campground.id %>?_method=PATCH'
                            method='POST' novalidate>
                            <div class='mb-3'>
                                <label class='form-label' for='title'>Title</label>
                                <input class='form-control' type='text' name='campground[title]' id='title'
                                    value="<%= campground?.title %>" required>
                                <div class='valid-feedback'>Looks good!</div>
                            </div>
                            <div class='mb-3'>
                                <label class='form-label' for='price'>Price</label>
                                <div class='input-group'>
                                    <span class='input-group-text'>$</span>
                                    <input class='form-control' type='numeric' name='campground[price]' id='price' min='0'
                                        value="<%= campground?.price %>" required>
                                </div>
                            </div>
                            <div class='mb-3'>
                                <label class='form-label' for='location'>Location</label>
                                <input class='form-control' type='text' name='campground[location]' id='location'
                                    value="<%= campground?.location %>" required>
                                <div class='valid-feedback'>Looks good!</div>
                            </div>
                            <div class='mb-3'>
                                <label class='form-label' for='image'>Image URL</label>
                                <input class='form-control' type='text' name='campground[image]' id='image'
                                    value="<%= campground?.image %>" required>
                                <div class='valid-feedback'>Looks good!</div>
                            </div>
                            <div class='mb-3'>
                                <label class='form-label' for='description'>Description</label>
                                <textarea class='form-control' type='text' name='campground[description]' id='description'
                                    required><%= campground?.description %></textarea>
                                <div class='valid-feedback'>Looks good!</div>
                            </div>
                            <button class='btn btn-primary'>Update</button>
                        </form>
                        <a class='text-decoration-none w-inherit' href='/campgrounds/<%= campground.id %> '>Back to campground</a>
                    </div>
                </div>
            </div>
        </div>