<% layout('layouts/boilerplate.ejs') %>
    <% block('head').append(`<title>Campground</title>`) %>
        <div id='cluster-map' class='map-container'></div>
        <div class="container mt-5 flex-grow-1">
            <%- include('../partials/flash') %>
                <h1>All Campgrounds</h1>
                <div class='cards-container'>
                    <% if (campgrounds?.length > 0) { %>
                    <% for (let campground of campgrounds) { %>
                        <div class='card mb-md-3'>
                            <img class='card-img-top' src='<%= campground?.images?.length > 0 ? campground?.images[0]?.url : `
                                        https://res.cloudinary.com/yelp-camp/image/upload/v1619869777/campground-placeholder.png`
                                        %>' alt='<%= campground?.title %>'>
                            <div class='card-body'>
                                <h5 class='card-title mb-0'>
                                    <%= campground?.title %>
                                </h5>
                                <div class='card-text text-muted mb-2'>
                                    <%= campground?.location %>
                                </div>
                                <div class='card-text'>
                                    <%= campground?.description?.length > 100 ? campground?.description?.substring(0, 100) + '...' : campground?.description %>
                                </div>
                                <a class='btn btn-sm btn-outline-primary mt-3' href='/campgrounds/<%= campground?.id %>'>View
                                    <%= campground?.title %>
                                </a>
                            </div>
                        </div>
                    <% } %>
                    <% } else { %>
                        <div class="text-muted fs-6">No campgrounds exist! Create one from <a href='/campgrounds/new'>here</a>.</div>
                    <% } %>
                </div>
        </div>
        <script>
            const mapboxToken = '<%- process.env.MAPBOX_TOKEN %>';
            const campgrounds = { features: <%- JSON.stringify(campgrounds) %> };
        </script>
        <script src='/js/clusterMap.js'></script>